.container * {
    font-weight: revert;
    margin: revert;
    padding: revert;
    white-space: pre-wrap;
}

pre {
    background-color: #f6f6f6 !important;
    padding: 20px !important;
    border-radius: 8px;
}

.container li {
    margin: 8px 0px;
}

.container a {
    text-decoration: underline;
    color: blue;
}
