.container * {
    font-weight: revert;
    font-size: 15pt;
    margin: revert;
    padding: revert;
}

.container * pre {
    background-color: #f6f6f6 !important;
    padding: 10px;
    border-radius: 8px;
}

.container li {
    margin: 8px 0px;
}

.container a {
    text-decoration: underline;
    color: blue;
}
